.btn-close {
    margin-left: auto;
    margin-right: 0;
}

/*.form {
    max-height: calc(100vh - 80px);
    overflow-y: auto;
}*/

.modal {
    background: var(--bs-light);
}

.form-group.required .control-label:after {
    color: var(--bs-danger);
    content: "*";
    position: absolute;
    margin-left: 3px;
    top: 10px;
}

.alert {
    margin: 15px;
}